TOKEN_BCN="your_bcn_token"
TOKEN_TELEGRAM="your_telegram_token"
OPEN_GATEWAY_CLIENT_ID="open_gateway_client_id"
OPEN_GATEWAY_CLIENT_SECRET="open_gateway_secret"
AIR_QUALITY_TOKEN="air_quality_api_token"